.tickets-container {
    width: 100%;
   min-height: 100vh;
    background: linear-gradient(var(--purple-01), var(--purple-03));
    display: flex;
    flex-direction: column;
    align-items: center;

    .t-content {
        width: 100%;
        min-height: 100vh;
        max-width: 1180px;
        padding: 1rem 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .t-header {
            width: 100%;
            color: var(--white);
        }

        .t-title {
            width: 100%;
            text-align: center;
            color: var(--white);
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .t-session-information {
            width: 100%;
            color: var(--white);
            font-size: 1.2rem;
            text-align: center;

            h3 {
                padding: 0.5rem 0;
            }

            p {
                padding: 0.25rem 0;
            }
        }

        .t-tickets {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Três colunas */
            gap: 1.5rem; /* Espaço entre os cartões */
            margin-bottom: 14rem;

            .ticket-card {
                background: var(--purple-02);
                color: var(--white);
                border-radius: 8px;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }

                h4 {
                    margin-bottom: 0.5rem;
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                p {
                    margin-bottom: 1rem;
                    font-size: 1rem;
                }

                .quantity-controls {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    background: var(--purple-03);
                    border-radius: 5px;
                    padding: 0.5rem;

                    button {
                        background: var(--purple-01);
                        color: var(--white);
                        border: none;
                        border-radius: 4px;
                        padding: 0.5rem 1rem;
                        font-size: 1rem;
                        cursor: pointer;
                        transition: background 0.3s ease;

                        &:hover {
                            background: var(--purple-04);
                        }

                        &:active {
                            transform: scale(0.95);
                        }
                    }

                    .quantity {
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: var(--white);
                        margin: 0 1rem;
                    }
                }
            }
        }
    }

    .botoes-container {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

        p {
            color: var(--white);
            font-size: 1.2rem;
        }

        .tickets-i {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .voltar-button,
        .ingressos-button {
            background-color: #a346ff;
            color: black;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 8px;
            padding: 0.75rem 1.5rem;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #902edf;
                color: #fff;
            }

            &:active {
                transform: scale(0.96);
            }
        }

        .voltar-button::before {
            content: '<';
            font-size: 1rem;
            margin-right: 0.5rem;
            font-weight: bold;
        }
    }
}
